#outOutsidePartner{
	background: #DADADA;
}
.outsidePartner{
	width: 950px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    text-align: center;
    padding-bottom: 75px;
}
.partnerContent{

	width: 465px;
    margin-left: 5px;
    margin-right: 5px;
    float: left;

}
.language-btn{
	display: inline-block;
    margin-left: 8px;
    margin-right: 0px;
    font-size: 16px;
    color: #999896;
    font-weight: bold;
}
#language-btn-nav-wrap{
	display: none;
}
.language-btn-nav,#language-btn-nav-wrap a{
	display: inline-block;
}
.Wrapper-banner{
	width: 100%;
	
}
@media only screen and (max-width: 1440px) {
	.Wrapper-banner{
		width: 100%;
		height: auto;
	}
}
@media only screen and (max-width: 965px) {
	.outsidePartner{
		width: 100%;
	}
	.partnerContent{
		float: none;
		display: inline-block;
		width: 100%;
	}
		.Wrapper-banner{
		width: 100%;
		height: auto;
	/*    background-position: 50% 50%;
	    background-repeat: no-repeat;
	    background-size: cover;*/
	}
}
.titleIcon{
	margin-right: 6px;
	display: none;
}
.modal-dialog{
	z-index: 9999;
}

.rowMargin{

	margin-left: 10%;
	margin-right: 10%;
}
/*您是?*/
.outsideRowM{
	display: none;
}
.outsideRow{
	display: none;
	width:100%;
	margin: 20px auto 20px auto;
	text-align: center;
}
.roleContent{
	width:300px;
	height: 296px;
	display: inline-block;
	margin:10px 3px 10px 3px;
	padding: 0px;
}
/*趨勢新聞PC*/
.outsideRowNews{
	width:100%;
	margin: 20px auto 10px auto;
	text-align: center;
}
.newsContent{
	width:300px;
	height: 350px;
	display: inline-block;
	margin:10px 3px 10px 3px;
	padding: 0px;
	border:solid 1px #DF207F;
}
.newsImg{
	width:298px;
	height:210px;
	overflow: hidden;
}
.newsTitle{
	text-align: left;
	margin: 20px 20px 10px 20px;
	width: 258px;
	height: 50px;
	font-size: 18px;
	font-weight: bold;
	overflow: hidden;
}
.newsContent-text{
	font-size: 14px;
	margin-left: 20px;
	margin-right: 20px;
	color:#696969;
	width: 258px;
	height: 60px;
	font-weight: bold;
	text-align: left;
	overflow: hidden;
}
/*專欄特輯  pc大螢幕*/
.SpecialContent{
	width:455px;
	height: 340px;
	display: inline-block;
	margin:10px 2px 10px 2px;
	padding: 0px;
	border:solid 1px #108AC9;
}
@media screen and (min-width: 1378px){
.sp1{
	margin:10px 2px 10px 250px;
}
.sp2{
	margin:10px 250px 10px 2px;
}

.sp3{
	margin:10px 2px 10px 250px;
}
.sp4{
	margin:10px 250px 10px 2px;
}
}
/*專欄特輯  pc*/
.outsideRowSpecial{
	width:100%;
	margin: 20px auto 20px auto;
	text-align: center;
}
/*
@media only screen and (min-width: 965px) and (max-width: 1378px) {
.SpecialContent{
	width:455px;
	height: 340px;
	display: inline-block;
	margin:10px 2px 10px 2px;
	padding: 0px;
	border:solid 1px #108AC9;
}
}*/

.specialImg{
	width:453px;
	height:211px;
	overflow: hidden;
}
.specialImg img{
	width:453px;
}
.specialTitle{
	text-align: left;
	margin: 20px 20px 10px 20px;
	width: 423px;
	height: 31px;
	font-size: 18px;
	font-weight: bold;
	overflow: hidden;
}
.SpecialContent-text{
	font-size: 14px;
	margin-left: 20px;
	margin-right: 20px;
	color:#696969;
	width: 423px;
	height: 46px;
	font-weight: bold;
	text-align: left;
	overflow: hidden;
}
/*調查報告 pc*/
.outsideRowReport{
	width:100%;
	margin: 20px auto 20px auto;
	text-align: center;
}
.reportContent{
	width:300px;
	height: 350px;
	display: inline-block;
	margin:10px 3px 10px 3px;
	padding: 0px;
	border:solid 1px green;
}
.reportImg{
	width:298px;
	height:210px;
	overflow: hidden;
}
.reportTitle{
	text-align: left;
	margin: 20px 20px 10px 20px;
	width: 258px;
	height: 50px;
	font-size: 18px;
	font-weight: bold;
	overflow: hidden;
}
.reportContent-text{
	font-size: 14px;
	margin-left: 20px;
	margin-right: 20px;
	color:#696969;
	width: 258px;
	height: 60px;
	font-weight: bold;
	text-align: left;
	overflow: hidden;
}
/*熱門影音 pc*/
.outsideRowVideo{
	width:100%;
	margin: 20px auto 20px auto;
	text-align: center;	
	background-color: #E1452F;
}
.outsideRowVideo > .index-item-title{
	color: #fff;
}
.videoContent{
	margin:5px auto 5px auto;
	padding-bottom: 60px;
}
.videoContent > iframe{
	width: 940px;
	height: 590px;
}
/*熱門標籤 pc*/
.outsideRowTags{
	width:100%;
	margin: 20px auto 20px auto;
	text-align: center;	
	padding-bottom: 15px;
}
.tagsContent{
 margin:0px 60px 0px 60px;
}
/*粉絲團 pc*/
.outsideRowFb{
	width:100%;
	padding-top: 20px;
	padding-bottom: 50px;
	text-align: center;	
	background-color: #DADADA;
}
.fbContent {
	display: inline-block;
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 10px;
}
/*end*/
/*foot*/
#foot{
	background-color: #E9E9E9;
	text-align: center;
	padding-top: 25px;
}
#foot-text{
	margin-left: auto;
	margin-right: auto;
}
/*end*/
/*navbar  pc*/
body {margin:0;}
#box{
	float: right;
	position: relative;
	left: -50%;
}
ul.topnav {
  position: relative;
  left: 50%;
  top: -42px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #ed2123;
}
#bgc{
	width: 100%;
	height: 42px;
	background-color: #ed2123;
}
ul.topnav li {
  float: right;
  margin-right: 8px;
  margin-left: 8px;
}
ul.topnav >li> a {
  display: inline-block;
  color: #f2f2f2;
  text-align: center;
  margin: 10px 12px;
  transition: 0.3s;
  font-size: 14px;
}
/*
ul.topnav li a:hover {background-color: #ea6755;}
*/
ul.topnav li.icon {display: none;}

.dropdown-content a {
    display: block;
    color:  #f2f2f2;
    text-align: center;
    margin: 12px 12.5px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 14px;
    border-bottom:solid ;
	border-width:0.5px;

}
.dropdown-content {
    display: none;
    position: fixed;
    top: 105px;
    background-color: #ed2123;
    min-width: 120px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 99999999;

}
.dropdown:hover .dropdown-content {
    display: block;
}
.search,.cfLogo,.ic{
	display: none;
}
#tabletDiv{
	padding-top: 0px;
}
.social{
	margin:0px;
	text-decoration: none;
}
.social img{
	width: 25px;
	height: 25px;
}
.displayM{
	display: none;
}
/*tablet*/
@media only screen and (min-width: 650px) and (max-width: 965px) {
#contentRWD{
	margin-top: 114px;
}
/*pad navibar text size */
ul.topnav >li> a {
  margin: 10px 7px;
  font-size: 8px;
}
/*您是?*/
.outsideRow{
	display: none;
	width:100%;
	margin: 0px auto 0px auto;
	text-align: center;
}
.roleContent{
	width:200px;
	height: 209px;
	display: inline-block;
	margin:10px 3px 10px 3px;
	padding: 0px;
}
/*end*/
/*趨勢新聞tablet*/
.column1{
	width: 400px;
	height: 433px;
	position: relative;
}
.column1{
	overflow: hidden;
}
.column1 > a >.newsImg ,.column1 > a >.reportImg{
	width: 398px;
	height: 300px;
}
.column1> a > .newsTitle, .column1> a > .reportTitle{
	width: 358px;
	height: 45px;	
}
.column1> a > .newsContent-text, .column1> a > .reportContent-text{
	width: 358px;
	height: 76px;
}
.column2{
	position: absolute;
}
.column3{
	position: relative;
	top: -6px;
}
.column2, .column3{
	width: 200px;
	height: 210px;
}
.column2 > a >.newsImg, .column3 > a >.newsImg,.column2 > a >.reportImg, .column3 > a >.reportImg{
	width: 198px;
	height: 123px;
}
.column2> a > .newsTitle, .column3> a > .newsTitle, .column2> a > .reportTitle, .column3> a > .reportTitle{
	width: 178px;
	height: 70px;
	margin: 10px auto 10px auto;
	font-size: 14px;
	overflow: hidden;
}
.column2> a > .newsContent-text, .column3> a > .newsContent-text, .column2> a > .reportContent-text, .column3> a > .reportContent-text{
	display: none;
}

/*end*/
/*專欄特輯 tablet*/
.outsideRowSpecial{
	width:100%;
	margin: 20px auto 20px auto;
	text-align: center;
}
.SpecialContent{
	width:310px;
	height: 365px;
	display: inline-block;
	margin:10px 2px 10px 2px;
	padding: 0px;
	border:solid 1px #cccccc;
}
.specialImg{
	width:308px;
	height:211px;
	overflow: hidden;
}
.specialImg img{
	width:310px;
}
.specialTitle{
	text-align: left;
	margin: 20px 10px 10px 10px;
	width: 290px;
	height: 50px;
	font-size: 18px;
	font-weight: bold;
	overflow: hidden;
}
.SpecialContent-text{
	font-size: 14px;
	margin-left: 20px;
	margin-right: 20px;
	color:#696969;
	width: 270px;
	height: 60px;
	font-weight: bold;
	text-align: left;
	overflow: hidden;
}
/*end*/
/*粉絲團 tablet*/
.fbContent {
	margin-left: 1px;
	margin-right: 1px;
}
/*end*/
/*熱門影音 tablet*/
.videoContent > iframe{
	width: 645px;
	height: 404px;
}
/*end*/

.rowMargin{
	margin-left: 0;
	margin-right: 0;
}
.container-fluid{
	padding: 0;
}
.navi-l-btn{
	display: none;
}
#bgc{
	 background-color:#e4e0e0;
}
ul.topnav{
    background:#e4e0e0;
  }
ul.topnav li>a{
	color: black;	
}

ul.topnav li {
  margin-right: 0px;
  margin-left: 0px;
}
#tabletDiv{
	padding-top: 10px;
	display: block;
	background: #ed2123;
}
.dropdown-content a{
	color: black;
}
.dropdown-content {
    background-color: #e4e0e0;
    color: black;
}
}
/*mobile*/
@media screen and (max-width:650px) {
#language-btn-nav-wrap{
	display: inline-block;
}

.language-btn{
	display: none;
}
.titleIcon{
	display: inline-block;
}
/*趨勢新聞mobile*/
.news1, .news2 , .news3{
	position: static;
}
.outsideRowNews>.index-item-title{
	/*background: #e2e2e2;*/
	background:url('../images/titleBg.png');
    background-repeat:repeat;
}
 .outsideRowNews{
	width:100%;
	margin: 0px auto 0px auto;
	text-align: left;
}
.newsContent{
	position: relative;
	width:100%;
	height: 106px;
	display: block;
	margin:0px;
	padding: 0px;
	border:solid 1px #cccccc;
	border-left: 0px;
	border-right: 0px;
	border-bottom: 0px;
	overflow: hidden;
}
.newsImg{
	position: absolute;
	left: 0px;
	width:98px;
	height:98px;
	margin-top: 2px;
	margin-bottom: 2px;
	overflow: hidden;
	display: inline-block;
	text-align: left;
}
.newsTitle{
	position: absolute;
	display: inline-block;
	text-align: left;
	margin:16px 0px 0px 110px;
	padding-right: 20px;
	width: 72%;
	height: 70px;
	font-size: 18px;
	font-weight: bold;
	overflow: hidden;
}
.newsContent-text{
display: none;
}
/*end*/
/*專欄特輯 mobile*/
.outsideRowSpecial>.index-item-title{
	/*background: #e2e2e2;*/
	background:url('../images/titleBg.png');
    background-repeat:repeat;
	border-top: solid 1px #cccccc;
}
.outsideRowSpecial{
	width:100%;
	margin: 0px auto 0px auto;
	text-align: left;
}
.SpecialContent{
	position: relative;
	width:100%;
	height: 106px;
	display: block;
	margin:0px;
	padding: 0px;
	border:solid 1px #cccccc;
	border-left: 0px;
	border-right: 0px;
	border-bottom: 0px;
	overflow: hidden;
}
.specialImg{
	position: absolute;
	left: 0px;
	width:98px;
	height:98px;
	margin-top: 2px;
	margin-bottom: 2px;
	overflow: hidden;
	display: inline-block;
	text-align: left;
}
.specialImg img{
	/* 0213前使用的RWD圖片大小 */
	/* width:110px;
	height:110px; */
	/* 0213後 行銷部需求，圖片不要隨著網頁大小而變大或變小，而是保持原來的Size但顯示的圖片區域越來越小 */
	position: absolute;
    margin-left: -250px;
    margin-top: -50px;
}
.specialTitle{
	display: inline-block;
	text-align: left;
	margin:16px 0px 0px 110px;
	padding-right: 20px;
	width: 73%;
	height: 70px;
	font-size: 18px;
	font-weight: bold;
	overflow: hidden;
}
.SpecialContent-text{
	display: none;
}
/*end*/
/*調查報告mobile*/
.outsideRowReport>.index-item-title{
	/*background: #e2e2e2;*/
	background:url('../images/titleBg.png');
	border-top: solid 1px #cccccc;
}
.reportContent{
	position: relative;
	width:100%;
	height: 106px;
	display: block;
	margin:0px;
	padding: 0px;
	border:solid 1px #cccccc;
	border-left: 0px;
	border-right: 0px;
	border-bottom: 0px;
	overflow: hidden;
}
.reportImg{
	position: absolute;
	left: 0px;
	width:98px;
	height:98px;
	margin-top: 2px;
	margin-bottom: 2px;
	overflow: hidden;
	display: inline-block;
	text-align: left;
}
.reportTitle{
	display: inline-block;
	text-align: left;
	margin:16px 0px 0px 110px;
	padding-right: 20px;
	width: 72%;
	height: 70px;
	font-size: 18px;
	font-weight: bold;
	overflow: hidden;
}
.reportContent-text{
display: none;
}
/*end*/
/*熱門影音 mobile*/
.outsideRowVideo > .index-item-title{
 	border-top: solid 1px #cccccc;
}
.videoContent > iframe{
	width: 100%;
	height: 350px;
}
/*粉絲團 mobile*/
.fbContent {
	margin-left: auto;
	margin-right: auto;
}
/*end*/
/*您是?mobile*/
.outsideRow{
	display: none;
}
.roleContentM{
	display: inline-block;
	width:30%;
	height:auto;
	display: inline-block;
	margin:10px 1% 30px 1%;
	padding: 0px;
}
.outsideRowM{
	/*display: inline-block;*/
	width:100%;
	margin: 0px;
	background: #afaeae;
	text-align: center;
}
/*END*/
ul.topnav >li> a {
	margin: 6px 12.5px;
}
.form-search{
	text-align: left;
}
.navi-l-search input{
	 width: auto;
}
#navi-l{
	display: none;
}
#box{
	float: none;
	position: static;
}
#contentRWD{
	margin-top: 47px;
}
ul.topnav.responsive,ul.topnav.responsive li{
	-ms-transform: rotate(180deg));
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}
ul.topnav li:nth-child(4),li:nth-child(5),li:nth-child(6),li:nth-child(7),li:nth-child(8),li:nth-child(9),li:nth-child(10){
	background: #e6e6e6;
	padding: 3px;
	margin: 1px 0px 1px 0px;
	}
ul.topnav li:nth-child(13){
	margin: 1px 0px 1px 0px;
}
ul.topnav >li> a {
	color: #6f645b;
}
ul.topnav{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    background:white;
  }
ul.topnav li{display: none;}
ul.topnav li.cfLogo{
	float: right;
	position: relative;
	left: -50%;
	display: inline-block;
	/*float: right;
	display: inline-block;
	width: 77%;*/
}
ul.topnav li.cfLogo a{
	position: relative;
	left: 60%;
}
ul.topnav.responsive li.cfLogo{
	position: static;
}
ul.topnav.responsive li.cfLogo a{
	position: static;
}
ul.topnav li.icon{
    float: left;
    display: inline-block;
}
ul.topnav.responsive li.icon {
    position: absolute;
    right: 0;
    bottom: 0;
  }
ul.topnav.responsive li {
    float: none;
    display: block;
    margin-left: 0px;
    margin-right: 0px;
    text-align: center;
  }
ul.topnav.responsive li a{
    display: block;
    text-align: center;
  }
.dropdown-content a{
	margin: 10px 0px 0px 0px;
}
ul.topnav.responsive li:nth-child(11){
	width: 100%;
}
ul.topnav.responsive li:nth-child(4) a span,li:nth-child(6) a span,li:nth-child(7) a span,li:nth-child(8) a span,li:nth-child(9) a span,li:nth-child(10) a span{
    display: inline-block;
  }
 .displayM{
 	display: inline-block;
 }
 ul.topnav.responsive li:nth-child(1) a{
    display: inline-block;
    text-align: center;
  }
  .search{
	margin-right:20px;
	margin-left: 50px;
	margin-bottom: 15px;
  	display: block;
  }
  .dropdown:hover .dropdown-content{
    display: block;
    position: static;
  }
  .dropdown-content{
  	box-shadow:none;
  	background:#afadac;
  }
  .dropdown-content a{
  	margin-left: 20px;
  	margin-right: 20px;
  	padding-top: 7px;
  	padding-bottom: 10px;
  }
  .dropdown-content a:last-child{
  	border-bottom: none;
  }
}
.index-item-title{
	height: 25px;
	text-align: center;
	font-size: 30px;
	font-weight: bold;
	padding-top: 45px;
	padding-bottom: 60px;
}
.icon{
	margin: 0 !important;
	padding-top: 8px;
}

/*
#banner .item{
	height: 440px;
	overflow: hidden;
	width: 100%;
}
.index-banner{
	width: 100%;
	min-width: 990px;
	display: block;
	height: 440px;	
	background-position:50% 50%;
	background-repeat:no-repeat;
	background-attachment:fixed;
}

.index-item{
	width: 960px;
	text-align: center;
	overflow: hidden;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 75px;
}


#item1 .index-item-box, #item3 .index-item-box{
	width: 300px;
	height: 360px;
	display: inline-block;
	border: solid 1px #DF207F;
	overflow: hidden;
	margin:15px 3px 15px 3px;
}

#item1 .index-item-box-img, #item3 .index-item-box-img{
	width: 315px;
	height: 210px;
	overflow: hidden;
}
#item1 .index-item-box-img img, #item3 .index-item-box-img img{
	margin-left: auto;
	margin-right: auto;
	max-height: 210px;
	min-width: 315px;
}
#item1 .index-item-box-text-title{
	font-size: 18px;
	text-align: left;
}
#item1 .index-item-box-text-content{
	font-size: 14px;
	text-align: left;
}
.index-item-box-text{
	padding: 20px;
	font-size: 20px;
	font-weight: bold;
}
.index-item-box-text-title{
	margin-bottom: 10px;
	text-align: left;
}
.index-item-box-text-content{
	color: #696969;
	text-align: left;
}

#item3 .index-item-box{
	border: solid 1px #4EA910;
}

@media only screen and (min-width: 1920px) {
	.index-banner{
		background-size: cover;
		-moz-background-size: cover;
	}
}
/*
#item2{
	background-color: #EFEFEF;
	width: 100%;
}
#item2 .index-item-box{
	width: 470px;
	height: 340px;
	display: inline-block;
	border: solid 1px #108AC9;
	overflow: hidden;
	margin-left: 3px;
	margin-right: 3px;
	margin-bottom: 10px;
}
#item2 .index-item-box-img{
	width: 485px;
	height: 210px;
	overflow: hidden;
}
#item2 .index-item-box-img img{
	margin-left: auto;
	margin-right: auto;
	/*max-height: 210px;
	min-width: 485px;
}
#item2 .index-item-box-text{
	background-color: #fff;
}
#item2 .index-item-box-text-content , #item6 .index-item-box-text-content{
	font-size: 15px;
	margin-bottom: 10px;
}
#item3 .index-item-box-text-title{
	font-size: 18px;
}
#item3 .index-item-box-text-content{
	font-size: 14px;
}
#item4{
	background-color: #E1452F;
}
#item4 .index-item-title{
	color: #fff;
}
#item4 .index-item-box{
	width: 990px;
	height: 590px;
}

#item5 .index-item{
	padding-bottom: 55px;
}
#item5 .index-item-box{
	width: 990px;
	height: 375px;
}
#item5 .index-item-box{
	width: 990px;
	height: auto;
	text-align: center;
}


#item6{
	background-color: #EFEFEF;
}
#item6 .index-item-box{
	width: 485px;
	height: 100px;
	float: left;
	border: solid 1px #A7A7A7;
	overflow: hidden;
	background-color: #fff;
	margin-left: 5px;
	margin-right: 5px;
}
#item6 .index-item-box-img{
	width: 100px;
	height: 100px;
	float: left;
}
#item6 .index-item-box-text-title{
	margin-bottom: 2.5px;
}
#item6 .index-item-box-text{
	width: 375px;
	height: 100px;
	float: left;

}

#item7{
	background-color: #DADADA;
}
#item7 .index-item{
	width: 990px;
	margin-left: auto;
	margin-right: auto;
	overflow: hidden;
}
#item7 .index-item-box{
	width: 475px;
	margin-left: 10px;
	margin-right: 10px;
	float: left;
}*/
